/*Table of contents*/
/*1. Fonts*/
/*2. Generl styles*/
/*3. Container*/
/*4. Site-header*/
/*5.Logo*/
/*6. Exchange-rates*/
/*7. Search-button*/
/*8. Language-toggler*/
/*9. Telegram-sub*/
/*10. Sitenav*/
/*11. Top Banner*/
/*12. SITE_FOOTER*/
/* Media-Query*/
/* Keyframes*/


/*FONTS*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/rubik-v11-latin-regular.woff2") format("woff2"),
  url("../webfonts/rubik-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/Rubik-Medium.woff2") format("woff2"), 
  url("../webfonts/Rubik-Medium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/rubik-v11-latin-700.woff2") format("woff2"),
  url("../webfonts/rubik-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"), 
  url("../webfonts/roboto-v20-latin-italic.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500italic.woff") format("woff"); 
}
/*General styles*/
html{
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after{
  box-sizing: inherit; /*ota-elementidan olsin*/
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
*:focus{
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
img{
  max-width: 100%;
  height: auto;
}
/*Container*/
.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

} 
/*Site-header*/
.site-header{
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
  padding-top: 40px;
  padding-bottom: 23px;
}
.site-header__top{
  display: flex;
  align-items: center;
  flex-wrap: wrapS;
  margin-bottom: 40px;
}
.site-header__exchange-rates{
  margin-left: 17px;
}

.site-header__actions{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.site-header__search-button{
  margin-right: 29px;
}
.site-header__language-toggler{
  margin-right: 24px;
}
.site-header__toggler{
  display: none;
}
/*LOGO*/
.logo{
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  transition: transform 0.3s ease;
}
.logo:hover{
  transform: scale(1.025);
}
.logo:focus{
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/* Exchange-rates*/
.exchange-rates{
  display: flex;
  align-items: center;
  padding:0;
  list-style-type: none; 
  color: #7A7A7A;
}
.exchange-rates__icon{
  color: #285193;
}
.exchange-rates__item:not(:last-child){
  margin-right: 26px;
}
/*Search-button*/
.search-button__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  
}
.search-button{
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

/*Language-toggler*/
.language-toggler{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.search-button:hover,
.language-toggler:hover{
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}
.language-toggler__wrapper{
  display: flex;
  align-items: center;
  font-weight: 500;
}
.language-toggler__img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
/*Telegram-sub*/
.telegram-sub{
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.telegram-sub--dark{
  color: #ffffff;
  background-color: #1e96c8;
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}
.telegram-sub--dark:hover{
  background-color: #37AEE2; 
  background-image: linear-gradient(90deg, #37AEE2  15.07%, #1E96C8 85.96%);
}
.telegram-sub--white{
  background-color: #fff;
  color: #295093;
}
.telegram-sub:hover{
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}
.telegram-sub__img{
  margin-right: 7px;
}
.telegram-sub__text{
  font-weight: 500;
}
/*SITENAV*/
.sitenav{
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  margin-bottom: 18px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
}
.sitenav__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px 12px;
  margin: 0;
  list-style-type: none;
}
.sitenav__item{
  margin: 5px 12px;
}

.sitenav__link{
  display: block;
  color: #515151;
  text-decoration: none;
  transition: color 0.3s ease;
}
.sitenav__link:hover{
  color: #295091;
}
/*TOP BANNER*/
.top-banner__link{
  display: flex;
}
/*  MAIN CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 22px;
  padding-bottom: 38px;
}
/* COVID INFO */
.covid-info{
  display: flex;
  align-items: center;
  padding: 30px 35px;
  border-radius: 5px;
  background-color: #f6f6f9;
  color: #000;
}
.covid-info::before{
  content: '';
  width: 43px;
  height: 45px;
  margin-right: 25px;
  background: url("../img/icon-covid.svg") no-repeat center center / contain;
}
.covid-info__heading{
  width: 235px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.covid-info__stats-list{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;;
}
.covid-info__stat{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid #F4CCD1 ;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}
.covid-info__stat::before{
  content: "";
  width: 38px;
  height: 40px;
  margin-right: 18px;
  background:  no-repeat center center / contain;
}
.covid-info__stat--infected{
  padding-top: 17px;
  padding-bottom: 17px;
  border-left-color: #eb5569;
}
.covid-info__stat--infected::before{
  background-image: url("../img/icon-emoji-mask.svg");
}
.covid-info__stat--recovered::before{
  background-image: url("../img/icon-emoji-smile.svg");
}
.covid-info__stat--dead::before{
  background-image: url("../img/icon-no.svg");
}
.covid-info__stat-title{
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.covid-info__stat-title--red{
  color: #DB0000;
}
.covid-info__stat-title--red::before{
  background-image: url("../img/icon-emoji-mask.svg");
}
.covid-info__stat-title--green{
  color: #05B135;
}
.covid-info__stat-title--green:before{
  background-image: url("../img/icon-emoji-smile.svg");
}
.covid-info__stat-value{
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}
/*SITE_FOOTER*/
.site-footer{
  padding: 18px 0;
  background-color: #295093;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}
.site-footer *:focus{
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
.site-footer__top{
  display: flex;
  align-items: center;
}
.site-footer__logo{
  flex-shrink: 0; /*Kichrayib ketmasligi uchun*/
  display: flex;
  padding: 10px;
  margin-right: auto;
  border-radius: 5px;
  background-color: #133C82;
}
.site-footer__sub-text{
  margin: 0;
  margin-right: 17px;
  padding-left: 25px;
  padding-right: 25px;
}
.site-footer__telegram-sub{
  flex-shrink: 0;
}
.site-footer__divider{
  height: 3px;
  border: none;
  margin-top: 18px;
  margin-bottom: 12px;
  background-color: #133C82;
}

.site-footer__bottom{
  display: flex;
  flex-wrap: wrap;
}
.site-footer__about{
  max-width: 365px;
  margin-right: 110px;
}
.site-footer__heading{
  margin-top: 0;
  font-size: 14px;
  line-height: 17px;
}
.site-footer__nav{
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-footer__nav-item{
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}
.site-footer__nav-link{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.site-footer__nav-link:hover{
  text-decoration: underline;
}

/* MEdia QUERIES */
@media (max-width: 1060px){
  .site-footer__about,
  .site-footer__nav{
    max-width: 100%;
    width: 50%;
    margin-right: 0;
    padding-right: 30px;
  }
}
@media (max-width: 1000px){
  .site-header{
    padding-top: 25px;
  }
  .site-header__top{
    align-items:stretch;
  }
  
  .exchange-rates{
    display: none;
  }
  /*.exchange-rates{
    order: -1; /*tepaga chiqadi
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }*/
}
@media (max-width: 850px){
  .site-header__top{
    margin-bottom: 20px;
  }
  .exchange-rates{
    display: none;
  }
  /*.exchange-rates{
    font-size: 14px;
    line-height: 17px;
  }*/
  .sitenav{
    font-size: 16px;
    line-height: 20px;
  }
  .sitenav__item{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .site-footer__about,
  .site-footer__nav{
    width: 100%;
  }
  .site-footer__about{
    order: 1;
  }
  .site-footer__nav{
    margin-bottom: 20px;
  }
  .site-footer__nav-item{
    padding: 5px;
    margin-bottom: 0;
  }
}
@media (max-width: 750px){
  .page__body{
    margin-top: 82px;
  }
  .site-header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  .site-header__top{
    margin-bottom: 0;
  }
  .site-header__toggler{
    position: relative;
    z-index: 20;
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 500;   
    border: none;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }

  .site-header__toggler:focus{
    outline: 0;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
  }  
  .exchange-rates,
  .search-button,
  .language-toggler,
  .site-header__telegram-sub{
    display: none;
  }
  .sitenav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    width: 65%;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: -10px 0 15px rgba(0, 0,0, 0.1);
    transition: transform 0.3 ease;
    transform: translateX(120%);
    animation: sitenav-slide-out 0.3s ease 1 forwards;
  }
  .sitenav--open{
    display: block;
    animation: sitenav-slide-in 0.3s ease 1 forwards ;
  }
  .sitenav__list{
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 82px;
  }
  .sitenav__item{
    width: 100%;
    margin: 0 5px;
  }
  .sitenav__item:not(:last-child){
    border-bottom: 1px solid #515151;
  }
  .sitenav__link{
    padding: 10px 20px;
    text-align: right;
    transition: color 0.3s ease,
            background-color 0.3s ease;
  }
  .sitenav__link:active{
    background-color: #295091;
    color: #ffffff;
  }
  .top-banner{
    display: none;
  }
  .site-footer__top{
    flex-wrap: wrap;
    align-items: stretch;
  }
  .site-footer__sub-text{
    order: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: right;
  }
}
@media (max-width: 500px){
  .logo__img{
    width: 220px;
  }
  .sitenav{
    width: 80%;
  }
  .site-footer__top{
    flex-direction: column;
    align-items: center;
  }
  .site-footer__logo{
    margin-right: 0;
    align-self: flex-start;
  }
  .site-footer__sub-text{
    order: 0;
    margin-bottom: 15px;
    
  }
  .site-footer__telegram-sub{
    align-self: flex-end;
  }
  .site-footer__nav-item{
    width: 100%;
  }
}


/*KEYFRAMES*/
@keyframes sitenav-slide-in{
  from{
    transform: translateX(120%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes sitenav-slide-out{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(120%);
  }
}







