/*Table of contents*/
/*1. Fonts*/
/*2. Generl styles*/
/*3. Container*/
/*4. Site-header*/
/*5.Logo*/
/*6. Exchange-rates*/
/*7. Search-button*/
/*8. Language-toggler*/
/*9. Telegram-sub*/

/*FONTS*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/rubik-v11-latin-regular.woff2") format("woff2"),
  url("../webfonts/rubik-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/Rubik-Medium.woff2") format("woff2"), 
  url("../webfonts/Rubik-Medium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/rubik-v11-latin-700.woff2") format("woff2"),
  url("../webfonts/rubik-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"), 
  url("../webfonts/roboto-v20-latin-italic.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500italic.woff") format("woff"); 
}
/*General styles*/
html{
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after{
  box-sizing: inherit; /*ota-elementidan olsin*/
}
body{
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
*:focus{
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/*Container*/
.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

} 
/*Site-header*/
.site-header{
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
  padding-top: 40px;
  padding-bottom: 23px;
}
.site-header__top{
  display: flex;
  align-items: center;
  flex-wrap: wrapS;
}
.site-header__exchange-rates{
  margin-left: 17px;
}

.site-header__actions{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.site-header__search-button{
  margin-right: 29px;
}
.site-header__language-toggler{
  margin-right: 24px;
}
/*LOGO*/
.logo{
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  transition: transform 0.3s ease;
}
.logo:hover{
  transform: scale(1.025);
}
.logo:focus{
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/* Exchange-rates*/
.exchange-rates{
  display: flex;
  align-items: center;
  padding:0;
  list-style-type: none; 
  color: #7A7A7A;
}
.exchange-rates__icon{
  color: #285193;
}
.exchange-rates__item:not(:last-child){
  margin-right: 26px;
}
/*Search-button*/
.search-button__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  
}
.search-button{
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

/*Language-toggler*/
.language-toggler{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}
.search-button:hover,
.language-toggler:hover{
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}
.language-toggler__wrapper{
  display: flex;
  align-items: center;
  font-weight: 500;
}
.language-toggler__img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
/*Telegram-sub*/
.telegram-sub{
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #1e96c8;
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  transition: box-shadow 0.3s ease;
}
.telegram-sub:hover{
  background-color: #37AEE2; 
  background-image: linear-gradient(90deg, #37AEE2  15.07%, #1E96C8 85.96%);
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}
.telegram-sub__img{
  margin-right: 7px;
}
.telegram-sub__text{
  font-weight: 500;
}



